# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.vspx
*.pdb

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/

# Mac
.DS_Store
*.tmp

# Revit
*.rvt
*.rfa
*.rte
*.addin

# Logs
*.log
